* {
    margin: 0;
    padding: 0;
}

.add-new-train-card {
    width: 75vw;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}

.header-card {

    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    flex-direction: column;

}

.rows {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.form-topic {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.form-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin: 10px 0;
}

.add-new-train-card>form {
    width: 100%;
    margin-top: 3em;
}

.addbtn {

    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    background-color: #3748DB;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;


}

.start-end-points,
.start-end-time,
.button-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.train-title-row {
    display: flex;
    align-items: left;
    justify-content: space-around;
    width: 100%;
}


.train-start-point,
.tarin-end-point,
.train-start-time,
.train-stop-time,
.train-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px 10px 10px;
    width: 100%;
    border: 0.2px solid rgb(236, 236, 236);
    border-radius: 10px;
    padding: 18px;
}

.train-start-point label,
.tarin-end-point label,
.train-start-time label,
.train-stop-time label,
.train-title label {
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(102, 102, 102);
    font-weight: 500;
}

.train-start-point input,
.tarin-end-point input,
.train-start-time input,
.train-stop-time input {
    border: 0.5px solid rgb(228, 228, 228);
    border-radius: 5px;
    width: 80%;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
}

.train-start-points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px 10px 10px;
    width: 100%;
    border-radius: 10px;
    padding: 18px;
}

select {

    border: 0.5px solid rgb(228, 228, 228);
    border-radius: 5px;
    width: 80%;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    outline: none;

}

.train-title input {
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 90%;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
}

.button-row {
    margin-top: 30px;
}

.button-row button {
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #3F51B5;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

}

.card-header {

    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

}


#spinner-icon {
    font-size: 20px;
    animation: spin .8s ease infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}