h2 {
    font-size: 35px;
    color: #ffc107;
    font-family: "Permanent Marker", cursive;
}

.justify-content-center {
    justify-content: center !important;
}

.row {
    flex-wrap: wrap;

}

.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.callout {

    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
}


fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}



legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.text-muted {
    color: #6c757d !important;
}

form {
    display: block;
    margin-top: 0em;
}

.align-items-end {
    align-items: flex-end !important;
}

form .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

label {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgb(0 0 0 / 0%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

button input {
    overflow: visible;
}

.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
}

.table:not(.table-dark) {
    color: inherit;
}

.card-body>.table {
    margin-bottom: 0;
}



table {
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

colgroup {
    display: table-column-group;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.bg-gradient-primary {
    background: #007bff linear-gradient(180deg, #268fff, #007bff) repeat-x !important;
    color: #fff;
}

.text-light {
    color: #f8f9fa !important;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}


.text-center {
    text-align: center !important;
}

.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}

.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}

.border-bottom {
    border-bottom: 1px solid #e48c08 !important;
    padding-bottom: 5px;

}