.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.sidebarNav {
    flex: 2;
    height: 100%;
}

.pageContent {
    flex: 8;
    height: 100%;
    padding: 50px;
    /* display: flex; */


}